doctype html
html(lang="en")
    frameset(rows="80,*", border='1', bordercolor="#28afae")
        frame(src="./admin_top.html", frameborder="0")
        frameset(frameborder='1', cols="200,*", border='1', bordercolor="#28afae")
            frame(src="./admin_left.html")
            frame(id="mainFrame", name="mainFrame", src="./admin_main.html")