doctype html
html(lang="en")
    frameset(frameborder="0", rows="80,*")
        frame(src="./admin_top.html", frameborder="0")
        frameset(frameborder="0", cols="200,*")
            frame(src="./admin_left.html", frameborder="0")
            frame(id="mainFrame", frameborder="no", border="0", name="mainFrame", src="./admin_main.html")