doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-list", function(S, Io, Node, Json, VsList){
                var selectedId = Node.one("#selectedId").val();
                console.log('selectedId:');
                console.log(selectedId);
                var list = new VsList("#userTypeList", {selectedId:selectedId});

                var backValueNode = Node.one("#backValue");
                var getData = function()
                {
                    var data = list.getSelectedData();
                    if(!data)
                    {
                        data = {};
                    }
                    console.log("user type data:");
                    console.log(data);
                    var encodedBody = CurSite.encrypt({digestType:"3des-empty"}, null, Json.stringify(data)).body;
                    return encodedBody;
                };
                backValueNode.on("click", function(e) {
                    console.log("generate data.......");
                    backValueNode.val(getData());
                });
                backValueNode.val(getData());  //init default value of backValue element
            });
    body
        input(id="backValue", type="hidden", value="")
        input(id="selectedId", type="hidden", value=selectedId)
        #userTypeList(class="container", style="width:180px;height:700px;text-align:left;")
            ol
                - each val in rst
                    li(value=val.code)= val.des