doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,tree", function(S, Io, Node, Json, Tree){

            });
    body
        .bodyAdminDiv
            #treeContainer(style="width: 160px;font-size:14px;")