doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            //script
    body
        .bodyAdminDiv
            #treeContainer hello