doctype html
html(lang="en", ng-app)
    head
        include ../includes/angular.jade
        script(type='text/javascript').
            //
    body
        |Nothing here {{'yet' + '!'}}
        p
            |1 + 2 = {{ 1 + 2 }}